<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot password</title>
    <style>
        fieldset legend{
        font-weight: bold;
        font-size: 24px;
        color:#CC0000;
        }
        table{
        margin: 0 auto;
        width:600px;
        }
        table tr th{
        vertical-align: top;
        }
        ul.errorlist{
            margin:0px;
            padding:0px;
            }
        ul.errorlist li{
            list-style-type:none;
            color:#CC0000;
        }
    </style>
</head>
<body>
    <fieldset>
        <legend>Password reset</legend>
        <h1 align="center"> we emailed reset password instructions to you.<br />
            If they have not received in few minutes please check spam messages also.</h1>
    </fieldset>
</body>
</html>
