

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot password</title>
    <style>
        fieldset legend{
        font-weight: bold;
        font-size: 24px;
        color:#CC0000;
        }
        table{
        margin: 0 auto;
        width:600px;
        }
        table tr th{
        vertical-align: top;
        }
        ul.errorlist{
            margin:0px;
            padding:0px;
            }
        ul.errorlist li{
            list-style-type:none;
            color:#CC0000;
        }
    </style>
</head>
<body>
    you have requested to reset password for email {{ email }} <br />
    click {{protocol}}://{{domain}}{% url 'password_reset_confirm' uidb64=uid token=token %} to reset password

</body>
</html>