<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot password</title>
    <style>
        fieldset legend{
        font-weight: bold;
        font-size: 24px;
        color:#CC0000;
        }
        table{
        margin: 0 auto;
        width:600px;
        }
        table tr th{
        vertical-align: top;
        }
        ul.errorlist{
            margin:0px;
            padding:0px;
            }
        ul.errorlist li{
            list-style-type:none;
            color:#CC0000;
        }
    </style>
</head>
<body>
    <fieldset>
        <legend>Forgot password</legend>
        <form method="post" action="" novalidate>
            {% csrf_token %}
            <table cellpadding="3" cellspacing="2" border="1">
                {% if form.email.errors %}
                    <tr>
                        <td colspan="2" style="color:#CC0000; font-weight:bold;">
                            {{ form.email.errors }}
                        </td>
                    </tr>
                {% endif %}
                {% if next %}
                    {% if not user.is_authenticated %}
                    <tr>
                        <td colspan="2" style="color:#CC0000; font-weight:bold;">
                            This page is protected please login
                        </td>
                    </tr>
                    {% endif %}
                {% endif %}
                <tr>
                    <th>{{ form.email.label_tag }}</th>
                    <td>{{ form.email }}</td>
                </tr>
                <tr>
                    <td align="center"><a href="{% url 'login' %}" >forgot password!</a></td>
                    <td colspan="2" align="center"><input type="submit" value="Reset password">
                    <input type="hidden" name="next" value="{{ next }}">
                    </td>
                </tr>
            </table>
        </form>
    </fieldset>

</body>
</html>